    @page
    @model Task4GraphModel
    @{  
    var Labels = Newtonsoft.Json.JsonConvert.SerializeObject(Model.dates);
    var totalList = Newtonsoft.Json.JsonConvert.SerializeObject(Model.total);
    ViewData["Title"] = "NewsGraph";
    }  

    <h2>Infection Totals</h2>  
    <h3>Task 4</h3>

    @{
    if (@Model.EX != null)
        {
        <br />
            <br />
            <h3>**ERROR: @Model.EX.Message</h3>
            <br />
            <hr />
            <br />
            <br />
        }
    }

    <div class="box-body">  
    <div class="chart-container">  
        <canvas id="myChart"></canvas>  
    </div>  
    </div>  

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>

    <script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: @Html.Raw(Labels),
            datasets: [
            {
                label: "Total Cases",  //Deaths
                data: @Html.Raw(totalList), 
                borderColor: "red", 
                pointBackgroundColor: "black",

                borderWidth: 1
            }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

    </script>
